<h1>投稿一覧</h1>
<% @posts.each do |post| %>
  <p><%= image_tag post.user.get_profile_image(50,50) %><%= link_to post.user.name, user_path(post.user) %></p>
  <p>タイトル : <%= link_to post.title, post %></p>
  <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
<% end %>

